
# Data Cleaning in Pandas

## Introduction

### What is Data Cleaning?
Data cleaning is the process of preparing raw data for analysis by identifying and correcting errors, inconsistencies, and inaccuracies in the dataset. It ensures the data is reliable and ready for meaningful analysis.

### Why is Data Cleaning Important?
Poor data quality can lead to misleading insights and faulty decisions. Cleaning your data ensures:
- Improved accuracy of analysis and predictions.
- Reduced risk of errors during processing.
- Better insights from your dataset.

### Common Data Quality Issues
Some common data quality issues include:
- Missing values.
- Duplicate entries.
- Incorrect or inconsistent data types.
- Outliers that can skew analysis.
- Inconsistent formatting (e.g., capitalization, whitespace).

### Why Pandas for Data Cleaning?
Pandas is an ideal tool for data cleaning because it provides:
- Intuitive syntax for handling missing data, duplicates, and more.
- Tools for data type conversion and formatting.
- Built-in methods to deal with outliers and inconsistencies.

In this tutorial, we'll demonstrate key data cleaning techniques using Pandas with a real-world dataset.


## Loading the Dataset

Let's load the `UberDataset.csv` to explore its structure and clean it step-by-step.

In [1]:

# Load the dataset
import pandas as pd

file_path = 'UberDataset.csv'
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit


## Handling Missing Values

### Why Handle Missing Values?
Missing values can result from incomplete data collection or errors during data entry. Ignoring them can lead to biased results.

### Techniques to Handle Missing Values
1. **Drop missing values**: Remove rows or columns with missing data.
2. **Impute missing values**: Fill in missing data with appropriate values (mean, median, mode, etc.).
3. **Interpolation**: Estimate missing values using trends in the data.

### Examples:

In [2]:

# Checking missing values
print("Missing values per column:")
print(df.isnull().sum())

# Drop rows with missing values
df_dropped = df.dropna()
print("\nAfter dropping rows with missing values:")
print(df_dropped.shape)

# Fill missing values with a placeholder
df_filled = df.fillna('Unknown')
print("\nAfter filling missing values:")
print(df_filled[['CATEGORY', 'PURPOSE']].head())

# Interpolate numerical missing values
df_interpolated = df.interpolate()
print("\nAfter interpolating missing values:")
print(df_interpolated['MILES'].head())

Missing values per column:
START_DATE      0
END_DATE        1
CATEGORY        1
START           1
STOP            1
MILES           0
PURPOSE       503
dtype: int64

After dropping rows with missing values:
(653, 7)

After filling missing values:
   CATEGORY          PURPOSE
0  Business   Meal/Entertain
1  Business          Unknown
2  Business  Errand/Supplies
3  Business          Meeting
4  Business   Customer Visit

After interpolating missing values:
0     5.1
1     5.0
2     4.8
3     4.7
4    63.7
Name: MILES, dtype: float64

C:\Users\sajid\AppData\Local\Temp\ipykernel_19408\1187824850.py:16: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df.interpolate()


## Removing Duplicates

Duplicate entries can distort your analysis. Use `drop_duplicates()` to remove them.

### Example:

In [3]:

# Remove duplicate rows
print("Before removing duplicates:", df.shape)
df_no_duplicates = df.drop_duplicates()
print("After removing duplicates:", df_no_duplicates.shape)

Before removing duplicates: (1156, 7)
After removing duplicates: (1155, 7)


## Fixing Data Types

Incorrect data types can cause errors during analysis. Use `astype()` or `to_numeric()` to convert data types.

### Example:

In [4]:

# Convert START_DATE to datetime
df['START_DATE'] = pd.to_datetime(df['START_DATE'], errors='coerce')

# Convert MILES to numeric
df['MILES'] = pd.to_numeric(df['MILES'], errors='coerce')

# Display updated types
print(df.dtypes)

START_DATE    datetime64[ns]
END_DATE              object
CATEGORY              object
START                 object
STOP                  object
MILES                float64
PURPOSE               object
dtype: object


## Handling Outliers

Outliers can distort statistics and models. Use statistical methods to identify and handle them.

### Example:

In [5]:

# Identify outliers using the interquartile range (IQR)
Q1 = df['MILES'].quantile(0.25)
Q3 = df['MILES'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
df_no_outliers = df[(df['MILES'] >= lower_bound) & (df['MILES'] <= upper_bound)]
print("Shape before removing outliers:", df.shape)
print("Shape after removing outliers:", df_no_outliers.shape)

Shape before removing outliers: (1156, 7)
Shape after removing outliers: (1078, 7)


## String Cleaning and Standardization

Inconsistent string formatting can cause issues during analysis. Use methods like `strip()`, `lower()`, and `replace()` for standardization.

### Example:

In [6]:

# Standardize CATEGORY column
df['CATEGORY'] = df['CATEGORY'].str.strip().str.lower()

# Replace values in PURPOSE
df['PURPOSE'] = df['PURPOSE'].str.replace('/', ' & ', regex=False)

# Display cleaned columns
print(df[['CATEGORY', 'PURPOSE']].head())

   CATEGORY            PURPOSE
0  business   Meal & Entertain
1  business                NaN
2  business  Errand & Supplies
3  business            Meeting
4  business     Customer Visit


## Date/Time Data Cleaning

Date/time data is crucial for time series analysis. Use `to_datetime()` to ensure consistency.

### Example:

In [7]:

# Convert END_DATE to datetime
df['END_DATE'] = pd.to_datetime(df['END_DATE'], errors='coerce')

# Extract year and month
df['YEAR'] = df['START_DATE'].dt.year
df['MONTH'] = df['START_DATE'].dt.month

# Display updated dataset
print(df[['START_DATE', 'END_DATE', 'YEAR', 'MONTH']].head())

           START_DATE            END_DATE    YEAR  MONTH
0 2016-01-01 21:11:00 2016-01-01 21:17:00  2016.0    1.0
1 2016-01-02 01:25:00 2016-01-02 01:37:00  2016.0    1.0
2 2016-01-02 20:25:00 2016-01-02 20:38:00  2016.0    1.0
3 2016-01-05 17:31:00 2016-01-05 17:45:00  2016.0    1.0
4 2016-01-06 14:42:00 2016-01-06 15:49:00  2016.0    1.0


## Conclusion

In this tutorial, we covered:
- Identifying and handling missing values.
- Removing duplicates to avoid redundant data.
- Fixing data types to ensure consistency.
- Identifying and handling outliers.
- Standardizing string data.
- Cleaning and extracting insights from date/time data.

### Best Practices for Maintaining Clean Data
1. Regularly validate your data.
2. Automate cleaning processes for repeatability.
3. Document assumptions and cleaning steps.

### Additional Resources
- [Pandas Documentation](https://pandas.pydata.org/docs/)
- Books on data cleaning and preparation.

Clean data is the foundation of any successful analysis. Practice these techniques to improve your data workflows.